body {
  background: #d6ed70;
  width: 100%;
  height: 100vh;
}

div {
  cursor: url(precision.cur), auto;
}

button {
  position: absolute;
  font-size: 3rem;
  background-color: white;
  font-weight: 500;
  left: 150px;
  top: 150px;
  font-family: 'aliens and cows';
}

h1 {
  position: absolute;
  font-size: 30px;
  line-height: 1;
  right: 200px;
  top: 40px;
  font-family: 'aliens and cows';
}

h2 {
  position: absolute;
  font-size: 50px;
  line-height: 1;
  left: 30px;
  top: 35px;
  font-family: 'aliens and cows'; 
}

.hole {
  flex: 30%;
  overflow: hidden;
}

.hole:after {
  display: block;
  background: url(hole.png) bottom center no-repeat;
  background-size: 130px 130px;
  content: '';
  width: 120%;
  height: 150px;
  position: center;
  z-index: 2;
  margin-top: 20px;
}

.mole {
  background: url(mole.png) bottom center no-repeat;
  background-size: 100px 100px;
  position: absolute;
  width: 15%;
  height: 15%;
  margin-top: 20px;
  visibility: hidden;
}

.hole.up .mole {
  visibility: visible;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
  font-size: 50px;
  position: absolute;
  right: 50px;
  top: 50px;
  font-family: 'abeatbyKai';
}

.game {
  max-width: 500px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}